# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Build files
# ==========================================

build/
dist/
wheels/
*.egg-info/

# ==========================================
# Virtual Environments
# ==========================================

.venv/
venv/
env/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# Django
# ==========================================

db.sqlite3
staticfiles/
media/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Logs
# ==========================================

*.log
file_changes.log

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Miscellaneous
# ==========================================

.pytest_cache/