Django
channels

langchain
langchain-core
langchain-community
langchain-mistralai
langgraph

python-dotenv

requests
httpx

beautifulsoup4
lxml

markdown
markdownify

pydantic

gunicorn
whitenoise

aiofiles

pymupdf
pypdf
python-docx